<!--
  Generated template for the SpeciesDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{selectedItem.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngIf="selectedItem">

    <ion-card-content>
      <div [innerHTML]="(detail | async)?.summary"></div>
    </ion-card-content>

  </ion-card>

</ion-content>
